<footer class="footer">
  <div class="footer-logo">
    <h1>BEST WIKIES</h1>
  </div>
  <div class="footer-categories">
    <div class="category">
      <h2>Games</h2>
      <ul>
        <li>Террария</li>
        <li>Майнкрафт</li>
        <li>Геншин Импакт</li>
      </ul>
    </div>
    <div class="category">
      <h2>Фильмы</h2>
      <ul>
        <li>Название фильма 1</li>
        <li>Название фильма 2</li>
        <li>Название фильма 3</li>
      </ul>
    </div>
    <div class="category">
      <h2>ТВ</h2>
      <ul>
        <li>Название ТВ-шоу 1</li>
        <li>Название ТВ-шоу 2</li>
        <li>Название ТВ-шоу 3</li>
      </ul>
    </div>
    <div class="category">
      <h2>Аниме</h2>
      <ul>
        <li>Название аниме 1</li>
        <li>Название аниме 2</li>
        <li>Название аниме 3</li>
      </ul>
    </div>
  </div>
</footer>

