<div class="main">
    <div class="menu">
      <form (submit)="onSubmit()">
        <div class="group">
          <h1>CREATING TEMPLATE</h1>
          <hr id="hr1">
          <p>Optionally you can add variables, script, dnf CSS styling to your template</p>
        </div>
        <div class="group">
          <h1>VARIABLES</h1>
          <hr id="hr2">
          <p>Add as many variables as needed</p>
  
          <div class="row">
            <div>
              <label for="name">Variable name</label>
              <input type="text" placeholder="Name" id="name" name="name" [(ngModel)]="templateDto.name">
            </div>
            <div>
              <label for="type">Type</label>
              <select type="text" placeholder="" id="type" name="type" [(ngModel)]="templateDto.variables">
                <option>string</option>
                <option>int</option>
                <option>double</option>
              </select>
            </div>
  
            <div>
              <label>Is required</label>
              <input type="checkbox" [(ngModel)]="templateDto.isPublic" name="isPublic">
            </div>
          </div>
        </div>
        <div class="group">
          <h1>SCRIPT</h1>
          <hr id="hr3">
          <p>Process in-variables in a way that you want</p>
          <textarea id="js" name="js" rows="10" cols="10" [(ngModel)]="templateDto.js"></textarea>
        </div>

        <div class="group">
            <h1>STYLING</h1>
            <hr id="hr5">
            <p>Add beautiful styles for you template</p>
            <textarea id="css" name="css" rows="10" cols="10" [(ngModel)]="templateDto.css"></textarea>
          </div>
  
        <div class="group">
          <h1>HTML</h1>
          <hr id="hr4">
          <p>Now write a core of your template - HTML. You can use styles and script variables which you defined earlier</p>
          <textarea id="html" name="html" rows="10" cols="10" [(ngModel)]="templateDto.html"></textarea>
        </div>
  
        <div class="btn">
          <button type="button">CANCEL</button>
          <button type="submit" id="btnSubmit">CREATE AND USE TEMPLATE</button>
        </div>
      </form>
    </div>
  </div>
  