<div class="main" [ngStyle]="{ 'background-image': 'url(' + topicImage + ')' }">

    <div class="search">
        <input type="text" placeholder="Search" [(ngModel)]="searchQuery" (keyup.enter)="search()">
    </div>
</div>
<div class="divInfo">
    <div class="newsWiki">
        <h1>NEWS</h1>
        <hr>
        <div class="main2">
            <div class="feed">
              <div *ngFor="let page of pages" class="card">
                <div class="card-header">
                  <div class="author-info">
                    <img [src]="page.author.avatarPath" alt="{{page.author.userName}}" class="author-avatar">
                    <div class="author-nickname">{{page.author.userName}}</div>
                  </div>
                  <div class="date">{{page.createdAt | date}}</div>
                </div>

                <div class="card-body">
                  <h5 class="card-title">{{page.title}}</h5>
                  <img *ngIf="page.imagePath !== 'No image'" [src]="page.imagePath" alt="{{page.title}}" class="article-image">
                </div>
                <div class="card-footer">
                  <div class="icon-group">
                    <div class="likes">
                      <fa-icon [icon]="faHeart"></fa-icon>
                      {{page.numberOfLikes}}
                    </div>
                    <div class="comments">
                      <fa-icon [icon]="faComment"></fa-icon>
                      {{page.numberOfComments}}
                    </div>
                    <button class="share-btn" (click)="copyShareLink(page.wikiId, page.id)">
                      <fa-icon [icon]="faShareSquare"></fa-icon>
                    </button>
                  </div>
                  <a [routerLink]="['/wiki', page.wikiId, 'page', page.id]">
                    <img src="assets/images/goToWiki.png">
                </a>
                </div>
              </div>
            </div>

          </div>




    </div>

</div>
