<div class="pricing-table">
  <div class="details">
    <h2>Flexible Plans</h2>
    <p>Chosen a plan that works best for you and your team</p>
  </div>
  <div class="grid">
    <div class="box standart">
      <div class="title">Standart</div>
      <div class="price">
        <b>$9.99</b>
        <span>per month</span>
      </div>
      <div class="features">
        <div>30 Post</div>
        <div>Advertising</div>
        <div>1 User Allowed</div>
        <div>Send up to 25 GB</div>
      </div>
      <div class="button">
        <button>Buy</button>
      </div>
    </div>

    <div class="box premium">
      <div class="title">Premium</div>
      <div class="price">
        <b>$19.99</b>
        <span>per month</span>
      </div>
      <div class="features">
        <div>Unlimited Post</div>
        <div>No Advertising</div>
        <div>4 Users Allowed</div>
        <div>Send up to 100 GB</div>
      </div>
      <div class="button">
        <button>Buy</button>
      </div>
    </div>

    <div class="box plus">
      <div class="title">Plus</div>
      <div class="price">
        <b>$14.99</b>
        <span>per month</span>
      </div>
      <div class="features">
        <div>60 Posts</div>
        <div>No Advertising</div>
        <div>2 Users Allowed</div>
        <div>Send up to 50 GB</div>
      </div>
      <div class="button">
        <button>Buy</button>
      </div>
    </div>
  </div>
</div>
