<div class="main">
  <div class="centered-div">
    <div class="left-half">
      <img src="assets/images/KARTINKA.png" alt="KARTINKA">
    </div>
    <div class="right-half">
      <div class="signin-container">
        <h1>REGISTER</h1>
        <hr>
        <div *ngIf="errorMsg" class="errMsg">{{ errorMsg }}</div>
        <form (ngSubmit)="register()">
          <div>
            <input class="form-control" placeholder="Email" type="email" [(ngModel)]="email" name="email"
                   required>
          </div>
          <div>
            <input class="form-control" placeholder="Username" type="text" [(ngModel)]="username" name="username"
                   required>

          </div>
          <div>
            <input class="form-control" placeholder="Password" [(ngModel)]="password" name="password"
                   type="password" required>
          </div>
          <div class="checkbox-container">
            <input type="checkbox" id="agree" [(ngModel)]="agreed" name="agree">
            <label for="agree">I agree to:</label>
          </div>
          <ul class="terms-list">
            <li>FANDOM's Terms of Use</li>
            <li>Privacy Policy</li>
          </ul>
          <button class="btn-sign" type="submit" style="cursor: pointer">REGISTER</button>
        </form>
      </div>
      <p class="p1">Or, Connect your social account</p>
      <div class="login-links">
        <a href="#"><img src="assets/images/google.png"></a>
        <a href="#"><img src="assets/images/facebook.png"></a>
        <a href="#"><img src="assets/images/apple.png"></a>
        <a href="#"><img src="assets/images/twich.png"></a>
      </div>
      <p class="p1">Already have an account? <a href="/login">Sign in</a></p>
    </div>
  </div>
</div>
