
    <div class="main">
        <div class="centered-div">
            <div class="left-half">
                <img src="assets/images/KARTINKA.png" alt="KARTINKA">
            </div>
            <div class="right-half">
                <div class="signin-container">
                    <h1>SIGN IN</h1>
                    <hr>
                    <div *ngIf="errorMsg" class="errMsg">{{ errorMsg }}</div>
                    <form (ngSubmit)="login()">

                        <div>
                            <input class="form-control" placeholder="Username" id="username" [(ngModel)]="username" name="username"
                                type="text">
                        </div>
                        <div>
                            <input class="form-control" placeholder="Password" id="password" [(ngModel)]="password" name="password"
                                type="password">
                        </div>
                        <div class="remember-forgot">
                            <div class="remember-me">
                                <input type="checkbox" id="remember-me" [(ngModel)]="rememberMe" name="rememberMe">
                                <label for="remember-me">Remember me?</label>
                            </div>
                            <div class="forgot-password">
                                <a href="#">Forgot password</a>
                            </div>
                        </div>

                        <button class="btn-sign" type="submit" style="cursor: pointer">SIGN IN</button>
                    </form>
                </div>
                <p class="p1">Or, Use social account to sign in</p>
                <div class="login-links">
                    <a href="#"><img src="assets/images/google.png"></a>
                    <a href="#"><img src="assets/images/facebook.png"></a>
                    <a href="#"><img src="assets/images/apple.png"></a>
                    <a href="#"><img src="assets/images/twich.png"></a>
                </div>
                <p class="p1">New user? <a href="/register">Register Now</a> </p>
            </div>
        </div>
    </div>


