<div class="editor-container">
  <div class="button-row">
    <button class="editor-button" (click)="bold()"><fa-icon [icon]="faBold"></fa-icon></button>
    <button class="editor-button" (click)="italic()"><fa-icon [icon]="faItalic"></fa-icon></button>
    <button class="editor-button" (click)="underline()"><fa-icon [icon]="faUnderline"></fa-icon></button>
    <button class="editor-button" (click)="strikethrough()"><fa-icon [icon]="faStrikethrough"></fa-icon></button>
    <button class="editor-button" (click)="color()"><fa-icon [icon]="faDroplet"></fa-icon></button>
    <button class="editor-button" (click)="erase()"><fa-icon [icon]="faEraser"></fa-icon></button>
    <button class="editor-button" (click)="quote()"><fa-icon [icon]="faQuoteRight"></fa-icon></button>
    <button class="editor-button" (click)="link()"><fa-icon [icon]="faLink"></fa-icon></button>
    <button class="editor-button" (click)="image()"><fa-icon [icon]="faImage"></fa-icon></button>
    <button class="editor-button" (click)="openTemplateMenu()"><fa-icon [icon]="faPuzzlePiece"></fa-icon></button>
    <button class="editor-button" (click)="exitCurrentElement()"><fa-icon [icon]="faArrowRightToBracket"></fa-icon></button>
    <button class="editor-button" (click)="switchMode()"><fa-icon [icon]="faExchangeAlt"></fa-icon></button>
  </div>
  <div class="text-area">
    <div #editable class="editable-text" contenteditable="true" [innerHTML]="editorContent" [style.display]="!isHtmlMode ? 'block' : 'none'"></div>
    <textarea #textArea class="editable-text" [ngModel]="editorContent | safeHtmlToString" (input)="updateEditorContent($event)" [style.display]="isHtmlMode ? 'block' : 'none'"></textarea>
  </div>
  <div class="button-container">
    <button class="cancel-button" (click)="cancel()">CANCEL</button>
    <button class="save-button" (click)="save()">SAVE</button>
  </div>
</div>
