<section class="profile__section" *ngIf="user">
  <div class="container">
    <div class="profile__wrapper">
      <div class="profile__wrapper_header">
        <div class="profile__header_user">
          <div class="profile__user_banner">
            <img [src]="user.avatarPath" alt="" />
          </div>
          <div class="profile__user_info">
            <div class="profile__info_title">
              <h2 class="profile__title_nickname">{{ user.userName }}</h2>
              <div class="profile__title_role" *ngIf="userRole !== ''">{{ userRole }}</div>
            </div>
            <div class="profile__info_actions">
              <div class="profile__actions_edits">{{ user.numberOfPages }} PAGES</div>
              <span class="profile__actions_circle"></span>
            </div>
            <div class="profile__info_discord">
              <img
                src="/assets/images/discord.svg"
                alt=""
                class="profile__discord_icon"
              />
            </div>
          </div>
        </div>
        <div *ngIf="isOwnProfile" class="profile__header_post">
          <button class="profile__post_button" *ngIf="!aboutEditingEnabled" (click)="switchAboutEditing()" type="button">
            Update about
          </button>
          <div *ngIf="aboutEditingEnabled">
            <textarea [(ngModel)]="aboutText" style="background-color: rgb(24, 21, 21); color: white; margin-bottom: 2px"></textarea>
            <div>
              <button (click)="updateAbout()" class="profile__post_button" type="button">
                Save
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="profile__wrapper_main">
        <div class="profile__main_tabs">
          <div class="profile__tabs_item active">About</div>
        </div>
        <div *ngIf="user.about" class="profile__main_block">
          {{user.about}}
        </div>
      </div>
      <div class="profile__wrapper_footer">
        <p class="profile__footer_text">
          Community content is available under
          <span class="profile__footer_primary">CC-BY-SA</span> unless otherwise
          noted.
        </p>
      </div>
    </div>
  </div>
</section>
