<div class="main">

  <div class="search">
    <input type="text" placeholder="Search" (input)="onSearch($event)">
  </div>
  <div>
    <p id="pResult">SEARCH RESULT</p>
    <p id="pDescripion">About {{numbResult}} result for {{search}}</p>
  </div>

  <div class="categories">
    <button [ngClass]="{'active': selectedCategory === null}" (click)="onCategorySelected(null)">ALL</button>
    <button *ngFor="let category of categories" [ngClass]="{'active': selectedCategory === category}"
            (click)="onCategorySelected(category)">
      {{ category }}
    </button>
  </div>


    <a *ngFor="let item of wikiDetails" href="/wiki/{{item.id}}" class="post">
      <img [src]="item.MainWikiImagePath" alt="Wiki Image">
      <p>{{ item.name }}</p>
    </a>

</div>
