.main{
  width: 100%;
  height: 100%;
  min-height: 150vh;
  background-color: #170722;
}

.content {
  width: 1170px;
  height: 600px;
  /* top: 138px;
  left: 135px; */
  margin: 0 auto;
  padding-top: 3em;
  display: flex;
  /* justify-content: flex-end; */
  /* flex-direction: column; */
}

.left-block {
  width: 507px;
  height: 278px;
  /* top: 377px;
  left: 205px; */
  /* position: absolute; */
  font-family: 'Kelly Slab', serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 63.02px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #EFEFEF;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 10px solid #D9D9D9;
  flex: 50%;
  align-self: flex-end;
  margin-bottom: 1em;
}

.left-block button {
  width: 265px;
  height: 64px;
  /* margin-top: 20px; */
  background-color: #D9D9D9;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

/* width: 549px;
height: 600px;
top: 138px;
left: 756px;
gap: 0px;
border-radius: 8px 0px 0px 0px;
opacity: 0px; */

.right-block {
  width: 549px;
  height: 600px;
  /* top: 138px;
  left: 756px; */
  /* position: absolute; */
  border-radius: 0 8px 8px 0;
  flex: 50%;
  overflow: hidden;
  /* background-image: url('../../../../../assets/images/diplom.png'); Путь к вашему изображению */
  background-image: url('/assets/images/KARTINKA.png');
  background-size: cover; /* Масштабируем изображение так, чтобы оно полностью покрывало блок */
  background-position: center; /* Центрируем изображение */

}

.left-block p {
  margin-bottom: 25px;
}

.button {
  font-size: 20px;
  line-height: 1.5;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid lightgray;
  padding: 7px 50px 7px 30px;
  border-radius: 50px;
  background-color: transparent;
  color: gray;
  text-decoration: none;
  position: relative;
  width: 100px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #e7e7e7;
}

.button::after {
  content: "🢒";
  font-size: 30px;
  position: absolute;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: #D3D3D3;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-radius: 0 20px 20px 0;
  color: black;
}

