#main {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.transparent {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  display: flex;
  align-items: center;
  gap: 20px; /* Adjust this value to change the space between the logo and the center container */
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px; /* Adjust this value to change the space between the menu items and the page counter */
}

.menu-items {
  margin-bottom: 10px;
  display: flex;
  gap: 15px; /* Adjust this value to change the space between the menu items */
}

.page-counter {
  color: white;
}

.page-count {
  margin-right: 10px;
}

.page-count-number, .page-count-text {
  display: block;
  text-align: center;

}

.nav-link {
  color: white;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #ccc;
  text-decoration: underline;
}

.wiki-title {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.icon-button
{
  color: white;
  background: transparent;
  border: none;
  font-size: 18px;
  padding: 0 7px;
  cursor: pointer;
}

.dropdown {
  padding: 4px 0;
}

.icon-group {
  display: flex;
  border: 1px solid white; /* Adjust color as needed */
  border-radius: 3px;
  overflow: hidden;
}

.separator {
  border-left: 1px solid white; /* Adjust color as needed */
  height: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  background-color: #272525;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  text-align: center; /* Center the text horizontally */
}

.dropdown-content.right {
  right: 0;
  left: auto;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block; /* Make the links stack vertically */
}

.dropdown:hover .dropdown-content {
  display: block;
}

#content {
  min-height: 50vh;
  background-color: #1E2940E6;
  backdrop-filter: blur(3px);
  border: 1px solid #3761af;
  border-radius: 5px;
  /*box-shadow: green 0px 0px 10px;*/
  padding: 24px 36px;
}
