<div id="main" style="padding: 10px" [style.background-image]="getBackgroundImage()">
  <div class="transparent">
    <div class="main-container">
      <img [src]="wiki.mainWikiImagePath" alt="Wiki Logo" width="100" height="100">
      <div class="center-container">
        <span class="wiki-title">{{ wiki.name }}</span>
        <div class="menu-items">
          <div class="dropdown">
            <a href="#" class="nav-link">EXPLORE</a>
          </div>
          <div class="dropdown">
            <a href="#" class="nav-link" *ngIf="wiki.mainLinks">Main articles</a>
            <div class="dropdown-content">
              <a *ngFor="let link of wiki.mainLinks" [href]="link.url">{{link.title}}</a>
            </div>
          </div>
          <div class="dropdown">
            <a href="#" class="nav-link">Community</a>
          </div>
          <div class="dropdown">
            <a href="#" class="nav-link">For contributors</a>
          </div>
        </div>
      </div>
    </div>

    <div class="right-container">
      <div class="page-counter">
        <span class="page-count-number">{{ wiki.numberOfPages }}</span>
        <span class="page-count-text">PAGES</span>
      </div>

      <div class="icon-group">
        <div class="dropdown">
          <a class="icon-button" *ngIf="homePageLink" [href]="homePageLink" aria-label="Home">
            <fa-icon [icon]="faHome"></fa-icon>
          </a>
        </div>
        <div class="separator"></div>
        <div class="dropdown">
          <button class="icon-button" (click)="openSettings()" aria-label="Settings">
            <fa-icon [icon]="faGear"></fa-icon>
          </button>
        </div>
        <div class="separator"></div>
        <div class="dropdown">
          <a class="icon-button" *ngIf="contributorsPageLink" [href]="contributorsPageLink" aria-label="Contributors">
            <fa-icon [icon]="faUserGroup"></fa-icon>
          </a>
        </div>
        <div class="separator"></div>
        <div class="dropdown">
          <button class="icon-button" aria-label="Actions">
            <fa-icon [icon]="faEllipsisVertical"></fa-icon>
          </button>

          <div class="dropdown-content right">
            <a href="wiki/{{wiki.id}}/createPage">Create new page</a>
            <a *ngIf="currentPageId && currentPageId !== 0" href="/wiki/{{wiki.id}}/editPage/{{currentPageId}}">Edit current page</a>
            <a *ngIf="currentPageId && currentPageId !== 0" href="/wiki/{{wiki.id}}/deletePage/{{currentPageId}}">Delete current page</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="content" style="margin-top: 20px;">
    <ng-content></ng-content>
  </div>

</div>
